@import url("https://www.nerdfonts.com/assets/css/webfont.css"); /* nerd-fonts */

/* Reset all styles */
*:where(:not(svg):not(svg *)), *::after, *::before {
  all: unset;
  display: revert;
  box-sizing: border-box;
  position: relative;
  transition: all .333s ease-out;
  color: inherit;
  font: inherit;
}

:root {
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

svg {
  width: auto;
  height: 1em;
}